.footer {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 9vh;
  background-color: #597795;
  color: white;
  text-align: center;
  overflow: hidden;
}

.footer1 {
  color: white;
}
