.NavBar {
  width: 100vw;
  height: 19%;
  min-height: 170px;

  .bg-img {
    background-image: url("../static/images/navbg2.jpg");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .navbar {
      background-color: rgba(0, 0, 0, 0.3);
      position: sticky;
      height: 100%;
      min-height: 120px;

      .container-fluid {
        display: flex;
        flex-direction: row;

        .rdd {
          border-radius: 0rem 1rem 1rem 0rem;
        }
        .posRecipe {
          text-align: center;
          border-radius: 1rem 0 0 1rem;
        }

        .navLogo {
          width: 150px;
        }
        .input-group {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          min-width: 500px;
          // width: 28vw;
          // min-width: ;

          #google_translate_element {
            // max-width: 134px;

            .goog-te-gadget-simple {
              width: 100%;
            }
          }

          .inputGroup-search {
            display: flex;
            max-width: 320px;
            width: 46%;
            max-height: 28px;

            .input-group-append button {
              height: 100%;
              > i {
                padding-left: 4px;
              }
            }
          }
        }

        #navbarCollapse {
          a {
            text-decoration: none;
          }
        }
        /* social media */
        .social-icon {
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 14px;
          border-radius: 7px;
          cursor: pointer;
        }
        .social-number {
          letter-spacing: 0.07rem;
          margin-right: 3.5rem;
          color: #0b0a0a;
        }
        .social-icon {
          border-radius: 1rem;
        }
        .social-twitter {
          background-color: #55acee;
        }
        .social-facebook,
        .social-linkedin {
          background-color: #0077b5;
        }
        .social-instagram {
          background-color: #c90161;
        }
        .social-youtube {
          background-color: rgba(255, 1, 1, 255);
        }

        .social-icon i {
          transition: 0.4s all;
        }
        .social-icon:hover i {
          transform: scale(1.1);
        }
      }
    }
  }

  .navbar2 {
    background-color: rgba(0, 0, 0, 0.3);
    // position: fixed-bottom;
    z-index: 10;
    width: 100%;
    height: 50px;

    background-color: #597795;
    color: #ffffff;

    .navContainer {
      margin: 0;

      .nav-Link {
        display: block;
        padding: 0.5rem 1rem;

        //   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        //     border-color 0.15s ease-in-out;
      }

      .nav-item {
        margin: 5px;

        a {
          color: white;
          text-decoration: none;

          &:focus,
          &:hover {
            color: #f4b26c;
          }
        }
      }
    }
  }
}

//   .navbar-brand {
//     position: relative;
//     left: 13%;
//     font-size: 35px;
//     color: white;
//     font-weight: bolder;
//     letter-spacing: 2px;
//     text-transform: uppercase;
//   }

//   .navbar-brand:hover {
//     color: white;
//   }

@media screen and (max-width: 864px) {
  .NavBar {
    .bg-img {
      .navbar {
        .container-fluid {
          > div {
            display: flex;
            justify-content: flex-end;
            > ul {
              display: none;
            }
          }
          form {
            height: 100%;
          }
          .input-group {
            flex-direction: column;
            align-items: end;
            min-width: 250px;
            padding-right: 10px;
            height: 100%;

            #google_translate_element {
              max-width: 210px;
              margin-bottom: 1rem;
            }
            .inputGroup-search {
              display: flex;
              max-width: 250px;
              width: 160px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .NavBar {
    .bg-img {
      .navbar {
        .container-fluid {
          padding-right: 0;
          #navbarCollapse {
            width: 50%;
            overflow: hidden;
          }
          .input-group {
            min-width: 180px;
            width: fit-content;
            padding-right: 0;
            align-items: center;
            #google_translate_element {
              max-width: 180px;
            }
            .inputGroup-search {
              max-width: 180px;
            }
          }
        }
      }
    }
  }
}
