.gallery {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 3em;
}

#recipeLink {
  text-decoration: none;
}

.gallery img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery_font {
  text-align: center;
  font-family: "Sarabun", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.fstyle {
  margin-top: 1rem;

  > i {
    display: flex;

    p {
      margin-left: 5px;
    }
  }
}
.card-body {
  color: #212529;
}

@media screen and (max-width: 680px) {
  .gallery_font {
    font-size: 5vw;
  }
  .fstyle > i {
    font-size: 4.2vw;
  }
}
